{% extends "proj/base_proj.html.twig" %}

{% block title %}Project game{% endblock %}

{% block body %}
    <div class="center">
        <h1>Kmom10: Aväntyrsspel</h1><br>

        <div>
            <p>
                Äventyrsspel är en spelgenre som var mycket populär för PC-spelare under 80 till 90-talet. Spelen handlar oftast 
                om att följa en hjälte på ett äventyr, där spelaren styr hjälten med hjälp av text-prompter. Detta projekt är menat att efterlikna 
                denna typen av spel, fast kodad i PHP, och körd på denna webbplats. Nedanför finns länkar som kan ta dig till spelet.
            </p><br><br>

            <a class="nav-btn-vertical" href="{{ path('project_init') }}">Game</a>
        </div>
    </div>
{% endblock %}
