{% extends "base.html.twig" %}

{% block title %}Pig Game{% endblock %}

{% block body %}
<h1>Roll a dice</h1>

<p>Here is the value of the dice.</p>

{{ include('flash.html.twig') }}

<ul class="deck-parent">
    {% if bool %}
        {% for card in draw %}
            <li class="deck">{{ card.cardToUnicode() }}</li>
        {% endfor %}
    {% else %}
    <li class="deck">{{ draw }}</li>
    {% endif %}
</ul>

<h2 class="underline">User deck</h2>

<ul class="deck-parent">
    {% for card in userDeck %}
        <li class="deck">{{ card.cardToUnicode() }}</li>
    {% endfor %}
</ul>

{% endblock %}
