{% extends "base.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block body %}
<h1>Result</h1>

<div class="center">
    <h1>{{ include('flash.html.twig') }}</h1>
<div>

{# <div class="center space-apart">
    <a class="nav-btn" href="{{ path('blackjack_call') }}">Call</a>
    <a class="nav-btn" href="{{ path('blackjack_stay') }}">Stay</a>
</div> #}

{% endblock %}
