{% extends "base.html.twig" %}

{% block title %}21 Game{% endblock %}

{% block body %}
<h1>21 Game</h1>

<p>The game you're about to play is called "21", which works similarly to the game
"Blackjack", where the player needs to get 21 points and not overshoot or get less than the dealer.
For a more in depth instructions guide on the game, visit <a href="https://sv.wikipedia.org/wiki/Tjugoett_(kortspel)"> 
this link</a>.</p>

{% endblock %}
