@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
}

html {
    font-size: 100%;
    height: 100%;
}

body {
    max-width: 100%;
    height: 100%;
    line-height: 1.4;
    background-color: white;
}

code {
    word-break: break-all;
}

.main {
    flex: 1;
    margin: 0.5em;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #43BC7D;
}

.site-header {
    background-image: linear-gradient(180deg, #4345BC, #BC4382);
    padding: 2em;
    border-bottom: 0;
    text-align: center;
    font-size: 1.96rem;
    font-weight: 900;
    color: #ffffff;
    z-index: 10;
}

.nav {
    background-image: linear-gradient(180deg, #BC4382, #43BC7D);
    padding: 1em 0 1em;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    z-index: 10;
}

.nav-btn {
    text-decoration: none;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #3d0c28;
    color: white;
    width: 8.5%;
    text-align: center;
}

.nav-btn-vertical {
    text-decoration: none;
    padding: 0.5em;
    margin: 0.1em;
    border-radius: 0.5em;
    background-color: #3d0c28;
    color: white;
    width: 90%;
    text-align: center;
}

.nav-btn-vertical:hover {
    transition: 0.5s;
    background-color: #611c44;
    box-shadow: 0 0 1em #BC4382;
}

.vertical {
    /* align-items: center; */
    background-image: none !important;
    /* flex-direction: column;
    width: 10em !important;
    padding: 0 0 1em !important; */
}

.article {
    width: 80vw;
    place-self: center;
    background-color: black;
    margin: 1em 0 0 0;
    border: 2px solid black;
    border-radius: 1em;
    color: white;
}

.image-article {
    width: 80vw;
}

.small-btn {
    width: 10%;
}

.nav-btn:hover {
    transition: 0.5s;
    background-color: #611c44;
    box-shadow: 0 0.2em 1em #BC4382,
    0 -1.5em 1.5em #BC4382;
    width: 9%;
}

.site-title {
    font-size: 1.96rem;
    font-weight: bold;
}

.center {
    place-items: center;
    text-align: center;
}

.btn-center {
    justify-self: center;
}

.red {
    background-color: tomato;
}

.center h1{
    margin: 1em 0 1em;
    width: 50%;
    border-bottom: 2px dotted gray;
    place-self: center;
}

.footer {
    background-image: none;
    background-color: #3d0c28 !important;
    border-top: 0;
    position: static;
    padding: 0;
    margin-top: auto;
}

.game-bar {
    width: 500px;
    justify-self: anchor-center;
    background-color: aquamarine;
    height: 8em;
    margin-top: 1em;
    padding: 2em;
    z-index: 1;
}

.fill {
    width: 100%;
}

.room {
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.game-box {
    width: 500px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 2em 0 2em;
    margin-top: 1em;
    color: black;
}

.grid-child {
    place-content: center;
    color: white;
}

.book {
    max-width: 10em;
    height: 22em;
    box-shadow: 0 0 1em grey;
    justify-items: anchor-center;
    /* transform: scale(0.7); */
    padding: 0.5em;
    margin: 1em;
}

.book p {
    margin: 0 !important;
    font-size: 0.9rem;
}

.book h4 {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.book-ul {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 0 !important;
}

.book-ul .book-li {
    text-decoration: none !important;
    list-style-type: none !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    justify-self: center;
}

.book-img {
    max-width: 80%;
    height: auto;
    display: block;
}

label {
    font-size: small;
}

.button, input[type=number], input[type=text], .submit {
    display: inline-block;
    color: #333;
    border: 2px solid black;
    width: 8em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 1em;
}

.button:hover, .submit:hover {
    transition: 0.5s;
    box-shadow: 0 0 1em #b8b5b5;
}

.aside-left {
    width: 40%;
    float: left;
}

.aside-right {
    width: 40%;
    float: right;
}

.small {
    width: 50% !important;
}

.medium {
    width: 70% !important;
}

.large {
    width: 90% !important;
}

.max {
    width: -webkit-fill-available !important;
}

.text-small {
    display: block;
}

.img {
    /* margin: -5em 6em -5em; */
    filter: 
        drop-shadow(5px 0 0 black) 
        drop-shadow(0 5px 0 black)
        drop-shadow(-5px 0 0 black) 
        drop-shadow(0 -5px 0 black);
}

.img img {
    max-width: 70%;
}

.krona {
    font-size: larger;
    font-weight: bolder;
    align-content: center;
    background-color: gold;
    border: 10px solid gray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0.5em black;
}

.klave {
    font-size: larger;
    font-weight: bolder;
    align-content: center;
    border: 10px solid gold;
    background-color: gray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0.5em black;
}

.link-no-decor {
    text-decoration: none;
}

.white {
    color: white;
}

.white-background {
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    justify-self: anchor-center;
    z-index: 0;
}

@keyframes turn {
    from { transform: rotate3d(0, 0, 0, 0); }
    to { transform: rotate3d(0, 1, 0, 360deg); }
}

.container {
    width: 200px;
    height: 200px;
    perspective: 400px;
    margin: 100px;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: turn 10s linear infinite;
}

.face {
    width: 200px;
    height: 200px;
    position: absolute;
    align-content: center;
    font-size: 1.96rem;
}

.front {
    transform: translateZ(100px);
    background: red;
}

.back {
    transform: translateZ(-100px) rotateY(180deg);
    background: green;
}

.left {
    transform: translateX(-100px) rotateY(-90deg);
    background: blue;
}

.right {
    transform: translateX(100px) rotateY(90deg);
    background: cyan;
}

.coin {
    place-self: center;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
    scroll-margin-top: 100px;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
}

ul {
    list-style-type: disc;
    padding-left: 2em;
    margin-bottom: 1em;
}

li {
    margin-bottom: 0.5em;
    font-size: 1.3rem;
    text-decoration: underline;
}

.underline {
    width: 50%;
    text-decoration: dotted;
}

.float-left {
    float: left;
    text-align: left;
}

.die {
    font-size: 4em;
}

.dieparent {
    display: flex;
    flex-wrap: wrap;
}

.deck {
    font-size: 4em;
    display: contents;
}

.form {
    display: grid;
}

.fill-available {
    width: -webkit-fill-available;
    margin: 0.5em 0;
}

.deck-parent {
    margin: 0 5em;
    text-align-last: center;
    padding-left: 0 !important;
}

.border {
    border: 2px solid black;
}

.spades {
    color: black;
}

.hearts {
    color: red;
}

.diamonds {
    color: red;
}

.clubs {
    color: black;
}

.hidden {
    background-color: black;
    height: auto;
    width: auto;
}

.space-apart {
    display: flex;
    justify-content: space-evenly;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.flash-success {
    padding: 0.5em;
    color: #e3f7dc;
    background-color: #68be46;
    border-color: #68be46;
}
.flash-success:before {
    content: "✓";
}

@media (width <= 800px) {
    .book-ul {
        grid-template-columns: auto auto;
        justify-items: center;
    }
}

@media (width <= 500px) {
    p {
        font-size: 0.7rem;
    }

    .grid {
        grid-template-columns: auto;
        padding: 0;
    }

    .grid-child {
        border-bottom: 2px dotted #333;
        margin-top: 1em;
    }

    .site-title {
        font-size: 1.5rem;
    }

    .nav .nav-btn {
        font-size: 0.5rem;
    }

    .img, .img img {
        max-width: 100px;
        margin: 0 !important;
    }

    .aside-left, .aside-right {
        margin: 0 !important;
        float: none !important;
        width: 90% !important;
    }

    .book-ul {
        grid-template-columns: auto;
        justify-items: center;
    }
}
