{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="center">
        <h1>Home</h1><br>

        <div class="aside-left">
            <p>
                Mitt namn är Ando Bambino (Andi Dupa), jag är 19 år gammal och kommer från Bambinolandet (Nättraby). Här bor jag i min lilla håla och ritar på fritiden.

                Mitt största intresse har altid varit att rita. På fritiden så ritar jag mest, oftast digitalt, och lär mig nya tekniker.

                Mina andra hobbies är att spela att resa med vänner, TV-spel och gå på långa promenader!

                Det är mycket som Ando Bambino gör på fritiden! Och nu kommer han att börja göra hemsidor på fritiden med... oj så skoj!
            </p>
        </div>

        <div class="aside-right img">
            <img src="{{ asset('img/andobambo.png') }}">
        </div>
    </div>
{% endblock %}
