{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}

<div class="large btn-center">
    <div class="center">
        <h1>Library</h1><br>
        <p class="center">
            In the library, you can click the button below to browse the books inside of the database.<br>
            Alternatively, you can scroll to the bottom of the page to add a book yourself!
        </p>
        <a class="button btn-center link-no-decor" href="{{ path('library_read_many') }}">View all books</a>
    </div><br>
    <div class="center">
        <h1>Create book</h1>
    </div>
    <div>
        <form class="form" method="post" action="{{ path('library_create_post') }}">
            <label>Title:</label>
            <input class="max" type="text" name="title" required>
            <label>Author:</label>
            <input class="max" type="text" name="author" required>
            <label>ISBN:</label>
            <input class="max" type="number" name="ISBN" required>
            <label>Image-URL:</label>
            <input class="max" type="text" name="image" required>
            <input class="button btn-center" type="submit" name="do_it" value="Create book">
        </form>
    </div>
</div>
{% endblock %}
